<section class="frequently" id="FAQ">
  <div class="container">
    <div class="title">
      <h2>الأسئلة الشائعة</h2>
      <p>إجابات لأكثر الأسئلة التي تدور حول تطبيق سرد</p>
    </div>
    <div class="accordion" *ngFor="let item of faqList; let i = index">
      <div class="question" (click)="toggleAnswer(i)">
        <p id="q">{{ item.question }}</p>
        <button id="btn">
          <i
            class="fa-solid fa-plus icon"
            [ngClass]="{
              'fa-plus': activeIndex !== i,
              'fa-minus': activeIndex === i
            }"
          ></i>
        </button>
      </div>
      <div class="answer" [ngClass]="{ active: activeIndex === i }">
        <p>{{ item.answer }}</p>
      </div>
    </div>
  </div>
</section>
